* {
    box-sizing: border-box;
}


/* Assign styles here */

.flexbox-container {
	display: flex;
	min-height: 200px;
	border: 1px solid black;
	align-items: center;
	justify-content: flex-center;
	flex-wrap: wrap;

}
 
.flex-column {
	padding: 20px white;
	flex-basis: 100%;	
}

	
.content {
	background-color: tomato;
	text-align: center;
	font-size: 4rem;
	height: 100%;
}

@media screen and (min-width: 768px) {
	.flex-column {
		padding: 20px;
		flex-basis: 50%;
	}
}

@media screen and (min-width: 992px) {
	.flex-column {
		padding: 20px;
		flex-basis: 25%;
	}
	
	
}